<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <!--
                <span class="select-label">API Reference: </span><span data-selected-value></span>
                -->
            </div>

            <div class="token-generator hide">
                <span data-close class="icon-budicon-471" style="display: none;"></span>

                <div class="scope-selector">
                    <div class="area controls">
                        <label for="input_baseUrl">Base URL</label>
                        <span id="input_baseUrl" style="word-wrap: break-word;font-size:1.2rem;margin-bottom: 17px;display: block;" ></span>

                        <label for="input_apiKey">Access Token (JWT)</label>
                        <div class="input-group" style="margin-bottom: 0.5rem;">
                          <input type="text" autocorrect="off" class="form-control" id="input_apiKey" readOnly  placeholder="Bearer token (JWT)">
                          <span class="input-group-btn">
                              <button class=" copy-btn btn btn-primary" data-clipboard-target="#input_apiKey" style="height:34px;"><img src="./images/clippy.svg" alt="Copy to clipboard" width="13" style="vertical-align: text-bottom;"></button>
                          </span>
                        </div>
                        <a style="color: #5c666f; text-decoration: underline; cursor: pointer;" onClick="window.open('https://jwt.io?value=' + encodeURIComponent($('#input_apiKey')[0].value))">debug in jwt.io</a>
                    </div>

                    <div class="area cta" style="display: none !important">
                        <div data-add-scope id="explore" class="btn"><span class="icon-budicon-519"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div data-navigator>
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Show Base URL and Access Token (JWT) <span class="status"></span></div>
                </div>
                <div id="resources_nav">
                    <a href="#introduction">
                        <div data-resource="introduction" label="Introduction" class="active"> </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed">
        {{#if info.description}}
            <li class="resource">
                <ul class="endpoints">
                    <li class="endpoint">
                        <ul class="operations">
                            <li class="operation" id="introduction">
                                <div class="content">
                                    <div class="markdown action-summary info-section">{{{info.description}}}</div>
                                </div>
                                <div class="samples"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        {{/if}}
        <li class="resource">
            <ul class="endpoints">
                <li class="endpoint">
                    <ul class="operations">
                        <li class="operation" id="authentication">
                            <div class="content">
                                <a onclick="" class="toggle-samples" data-toggle="tooltip" data-placement="left" data-original-title="" title="">
                                    <span class="text">Show samples</span><span class="circle-icon"></span>
                                </a>
                                <h2 class="operation-title">Authentication</h2>
                                <div class="markdown action-summary info-section">
The curl command on the right shows how to get a JWT from Auth0. You need the JWT to make API requests.  
Start by identifying your connection type.  
Cimpress Open supports the following values for the connection parameter in a JWT request:  
1. default
2. fulfillers

Internal Cimpress applications also use the following values:
1. CimpressADFS
2. exagroup-biz

For more information, see [authentication documentation](http://mcp-docs-sample.cloud.cimpress.io/authentication/index/)
##### Useful Information About This API
Client ID: {{clientId}}  
Swagger Url: {{swaggerURL}}  
                                </div>
                            </div>
                            <div class="samples">
                                <span class="model-signature">
                                    <div>
                                        <div role="tabpanel" class="guide">
                                            <ul class="nav nav-pills" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#example_auth_curl"role="tab" data-toggle="tab">Example Curl</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="example_auth_curl">
                                                    <div class="snippet">
                                                        <pre><code class="bash"><span class="dollar"></span> curl "https://cimpress.auth0.com/oauth/ro" \
    -d client_id=<span class="string">"{{clientId}}"</span> <span class="comment"># for {{info.title}}</span> \ 
    -d username=<span class="string">"Your Email"</span> \ 
    -d password=<span class="string">"Your Password"</span> \ 
    -d connection=<span class="string">"default"</span> \ 
    -d scope=<span class="string">"openid email app_metadata"</span> 

<span class="comment"># the response will contain the JWT in the field id_token</span>
<span class="dollar"></span> curl -X GET {{baseUrl}} \ 
    -H <span class="string">'Authorization: Bearer your_id_token'</span>
</code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
