<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <!--
                <span class="select-label">API Reference: </span><span data-selected-value></span>
                -->
            </div>

            <div class="token-generator hide">
                <span data-close class="icon-budicon-471" style="display: none;"></span>

                <div class="scope-selector">
                    <div class="area controls">
                        <label for="input_baseUrl">Base URL</label>
                        <span id="input_baseUrl" style="word-wrap: break-word;font-size:1.2rem;margin-bottom: 17px;display: block;" >{{baseUrl}}</span>

                        <label for="input_apiKey">Access Token (JWT)</label>
                        <div class="input-group" style="margin-bottom: 0.5rem;">
                          <input type="text" autocorrect="off" class="form-control" id="input_apiKey" readOnly  placeholder="Bearer token (JWT)">
                          <span class="input-group-btn">
                              <button class=" copy-btn btn btn-primary" data-clipboard-target="#input_apiKey" style="height:34px;"><img src="./images/clippy.svg" alt="Copy to clipboard" width="13" style="vertical-align: text-bottom;"></button>
                          </span>
                        </div>
                        <a style="color: #5c666f; text-decoration: underline; cursor: pointer;" onClick="window.open('https://jwt.io?value=' + encodeURIComponent($('#input_apiKey')[0].value))">debug in jwt.io</a>
                    </div>

                    <div class="area cta" style="display: none !important">
                        <div data-add-scope id="explore" class="btn"><span class="icon-budicon-519"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div data-navigator>
                {{!--
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Show Base URL and Access Token (JWT) <span class="status"></span></div>
                </div>
                --}}
                {{#if info.description}}
                    <a href="#introduction" class="nav_label">Introduction</a>
                {{/if}}
                {{#if clientId}}
                    <a href="#authentication" class="nav_label">Authentication</a>
                {{/if}}

                <div id="resources_nav">
                </div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed">
        {{#if info.description}}
            <li class="resource" id="introduction">
                <ul class="endpoints">
                    <li class="endpoint">
                        <ul class="operations">
                            <li class="operation" >
                                <div class="content">
                                    <h2 class="operation-title">Introduction</h2>
                                    <div class="markdown action-summary info-section">{{{info.description}}}</div>
                                </div>
                                <div class="samples"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        {{/if}}
        {{#if clientId}}
            <li class="resource" id="authentication">
                <ul class="endpoints">
                    <li class="endpoint">
                        <ul class="operations">
                            <li class="operation" >
                                <div class="content">
                                    <a onclick="" class="toggle-samples" data-toggle="tooltip" data-placement="left" data-original-title="" title="">
                                        <span class="text">Show samples</span><span class="circle-icon"></span>
                                    </a>
                                    <h2 class="operation-title">Authentication</h2>
                                    <div class="action-summary info-section">
                                      <p>Cimpress Open uses Auth0 as an authentication service. Every Cimpress Open Portal user has an Auth0 account. The email address you registered with is the username of your Auth0 account. For more information, see <a href="http://mcp-docs-sample.cloud.cimpress.io/authentication/index/" target="_blank">authentication documentation</a>.</p>
                                      <h5 id="useful-information-about-this-api">Useful Information About This API</h5>
                                      <p>
                                        <strong>Client ID:</strong> {{clientId}}<br/>
                                        {{#if baseUrl}}<strong>Base URL:</strong> {{baseUrl}}{{/if}}<br/>
                                      </p>
                                    </div>
                                </div>
                                <div class="samples">
                                    <span class="model-signature">
                                        <div>
                                            <div role="tabpanel" class="guide">
                                                <ul class="nav nav-pills" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#example_auth_curl"role="tab" data-toggle="tab">Example Curl</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="example_auth_curl">
                                                        <div class="snippet">
<pre><code class="bash"><span class="dollar"></span>curl "https://cimpress.auth0.com/oauth/ro" \
    -d client_id=<span class="string">"{{clientId}}"</span> <span class="comment"># for {{info.title}}</span> \
    -d username=<span class="string">"Your Email"</span> \
    -d password=<span class="string">"Your Password"</span> \
    -d connection=<span class="string">"default"</span> \
    -d scope=<span class="string">"openid email app_metadata"</span>
</code></pre>
{{#if baseUrl}}<pre><code class="bash">
<span class="comment"># The response will contain the JWT in the field id_token</span>
<span class="dollar"></span>curl -X GET "{{baseUrl}}" \
      -H <span class="string">'Authorization: Bearer your_id_token'</span>
</code></pre>{{/if}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        {{/if}}
    </ul>
</div>
