<div id="swagger_sidebar">
    <div class="sticky-nav-placeholder">
        <div class="sticky-nav">
            <div class="mobile-nav">
                <span class="select-label">API Reference: </span><span data-selected-value></span>
            </div>

            <div class="token-generator hide">
                <span data-close class="icon-budicon-471" style="display: none;"></span>

                <div class="scope-selector">
                    <div class="area controls">
                        <label for="input_baseUrl">Base URL</label>
                        <div class="input-group" style="margin-bottom: 0.5rem; width: 100%;">
                          <input type="text"
                            name="input_baseUrl"
                            id="input_baseUrl"
                            autocorrect="off"
                            class="form-control"
                            {{#if clientId}}readOnly{{/if}}
                            placeholder="https://example.com/swagger.json"
                            value="{{baseUrl}}" />
                          <span class="input-group-btn">
                              {{#if clientId}}
                                  <button class="copy-btn btn btn-secondary"
                                      data-clipboard-target="#input_baseUrl"
                                      data-original-title="Copy to Clipboard"
                                      style="height:34px;">
                                      <svg class="icon icon-clippy" title="Copy to clipboard"><use xlink:href="#icon-clippy"></use></svg>
                                  </button>
                              {{else}}
                                  <button class="copy-btn btn btn-secondary" id="explore" style="height: 34px; color: black;">Go</button>
                              {{/if}}
                          </span>
                        </div>

                        <label for="input_apiKey">Bearer Token (JWT)</label>
                        <div class="input-group" style="margin-bottom: 0.5rem;">
                            <input type="text"
                              name="access_token"
                              autocorrect="off"
                              class="form-control"
                              id="input_apiKey"
                              {{#if clientId}}readOnly{{/if}}
                              placeholder="Bearer token (JWT)"
                              value="{{accessToken}}" />
                            <span class="input-group-btn">
                                {{#if accessToken}}
                                    <button class="copy-btn btn btn-secondary"
                                        data-clipboard-target="#input_apiKey"
                                        data-original-title="Copy to Clipboard"
                                        style="height:34px;">
                                        <svg class="icon icon-clippy" title="Copy to clipboard"><use xlink:href="#icon-clippy"></use></svg>
                                    </button>
                                {{else}}
                                    <button class="copy-btn btn btn-secondary" id="explore" style="height: 34px; color: black;">Go</button>
                                {{/if}}
                            </span>
                        </div>
                        {{#if accessToken}}<a target="_blank"
                          href="https://jwt.io?value={{encodeURIComponent accessToken}}"
                          style="color: #5c666f; text-decoration: underline; cursor: pointer;">debug in jwt.io</a>{{/if}}
                    </div>

                    <div class="area cta" style="display: none !important">
                        <div data-add-scope id="explore" class="btn"><span class="icon-budicon-519"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div data-navigator>
                {{!--
                <div data-resource="" label="Tools">
                    <div class="item" data-tg-switch="">Show Base URL and Access Token (JWT) <span class="status"></span></div>
                </div>
                --}}
                <div id="resources_nav">
                    {{#if clientIdOrInfoDescriptionDoExist}}
                        <div data-resource="resource_swagger_ui_cimpress_api_info"
                            label="API info"
                            class="active">
                            {{#if info.description}}
                            <div data-endpoint="swagger_ui_cimpress_api_info_introduction"
                                class="item"
                                data-selected>
                                <a href="#api_info_introduction"
                                    onClick="event.preventDefault();">
                                    <span class="http_method ApiReference--label">&nbsp;</span>
                                    Introduction
                                </a>
                            </div>
                            {{/if}}
                            {{#if clientId}}
                            <div data-endpoint="swagger_ui_cimpress_api_info_authentication"
                                class="item"
                                {{#unless info.description}}data-selected{{/unless}}>
                                <a href="#api_info_authentication"
                                    onClick="event.preventDefault();">
                                    <span class="http_method ApiReference--label">&nbsp;</span>
                                    Authentication
                                </a>
                            </div>
                            {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id='resources_container'>
    <ul id='resources' class="samples-collapsed">
        {{#if clientIdOrInfoDescriptionDoExist}}
            <li id="resource_swagger_ui_cimpress_api_info" class="resource">
                <ul class="endpoints">
                    {{#if info.description}}
                    <li class="endpoint" id="swagger_ui_cimpress_api_info_endpoint_list">
                        <ul class="operations">
                            <li class="get operation" id="swagger_ui_cimpress_api_info_introduction">
                                <div class="content" style="margin-top: 0;">
                                    <div class="heading"><h3><a>Introduction</a></h3></div>
                                    <div class="info_description {{#if isMarkdown}}markdown{{/if}} action-summary info-section" style="font-size: 1rem; line-height: 1.5rem; color: #697582;">{{{info.description}}}</div>
                                    <!--<a target="_blank" href="//online.swagger.io/validator/debug?url={{encodeURIComponent swaggerUrl}}">
                                      <img id="validator" src="//online.swagger.io/validator?url={{encodeURIComponent swaggerUrl}}">
                                    </a>-->
                                </div>
                                <div class="samples"></div>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                    {{#if clientId}}
                    <li class="endpoint">
                        <ul class="operations">
                            <li class="get operation" id="swagger_ui_cimpress_api_info_authentication">
                                <div class="content">
                                    <a onclick="" class="toggle-samples" data-toggle="tooltip" data-placement="left" data-original-title="" title="">
                                        <span class="text">Show samples</span><span class="circle-icon"></span>
                                    </a>
                                    <div class="heading"><h3><a>Authentication</a></h3></div>
                                    <div class="action-summary info-section">
                                      <p>Cimpress Open uses Auth0 as an authentication service. Every Cimpress Open Portal user has an Auth0 account. The email address you registered with is the username of your Auth0 account. For more information, see the <a href="https://developer.cimpress.io/docs/apis/auth0.html" target="_blank">authentication documentation</a>.</p>
                                      <h5 id="useful-information-about-this-api">Useful Information About This API</h5>
                                      <p>
                                          <strong>Client ID:</strong> {{clientId}}<br/>
                                          {{#if baseUrl}}<strong>Base URL:</strong> {{baseUrl}}{{/if}}
                                      </p>
                                      {{#if accessToken}}
                                        <h5 id="your-current-bearer-token">Your Current Bearer Token</h5>
                                        <p>When you logged in, a Bearer Token (JWT) was automatically generated for you. This token will automatically be added to requests made using this page. You can also use this token for your own testing purposes for as long as it’s valid. But be careful! Treat this token like a password.</p>
                                        <label for="input_apiKey">Bearer Token (JWT)</label>
                                        <div class="input-group" style="margin-bottom: 0.5rem; width: 100%;">
                                          <input type="text"
                                            autocorrect="off"
                                            class="form-control"
                                            value="{{accessToken}}"
                                            placeholder="Bearer token (JWT)"
                                            readOnly />
                                        </div>
                                      {{/if}}
                                    </div>
                                </div>
                                <div class="samples">
                                    <span class="model-signature">
                                        <div>
                                            <div role="tabpanel" class="guide">
                                                <h5>Example cURL request</h5>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="example_auth_curl">
<!-- Authentication code sample (NG-5085) -->
<div class="snippet"><pre><code class="bash hljs"><span class="comment"># Get an auth token for the API with client_id</span>
<span class="comment"># representing “{{info.title}}”</span>
<span class="dollar"></span><span class="built_in">curl</span> "<span style="text-decoration: underline;">https://cimpress.auth0.com/oauth/ro</span>" \
    --data <span class="string">"client_id={{clientId}}"</span> \
    --data <span class="string">"username=&lt;YOUR_EMAIL&gt;"</span> \
    --data <span class="string">"password=&lt;YOUR_PASSWORD&gt;"</span> \
    --data <span class="string">"connection=default"</span> \
    --data <span class="string">"scope=openid email app_metadata"</span>

{
  <span class="symbol">"id_token"</span>: <span class="string">"eyJ0…"</span>,
  <span class="symbol">"token_type"</span>: <span class="string">"bearer"</span>
}


{{#if baseUrl}}
<span class="comment"># Use the JWT from the above request as</span>
<span class="comment"># a Bearer token in authenticated calls</span>
<span class="dollar"></span><span class="built_in">curl</span> "<span style="text-decoration: underline;">{{baseUrl}}/&lt;ENDPOINT&gt;</span>" \
    --request &lt;METHOD&gt; \
    --header <span class="string">'Authorization: Bearer &lt;JWT&gt;'</span>
{{/if}}
</code></pre></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </li>
        {{/if}}
    </ul>
</div>
