<ul class='operations'>
    <li class='{{method}} operation' id='{{parentId}}_{{nickname}}'>
        <div class='content'>
            <div class='heading'>
                <h3>
                    <a href="{{interfaceBaseUrl}}#!/{{encodedParentId}}/{{nickname}}" onclick="event.preventDefault();">
                        <span class='http_method'><span >{{method}}</span></span>
                        <span class='path'><span class="{{#if deprecated}}deprecated{{/if}}">{{path}}</span></span>
                    </a>
                </h3>
            </div>

            <a href="javascript:;" class="toggle-samples" data-toggle="tooltip" data-placement="left"
               data-original-title title>
                <span class="text">Show samples</span><span class="circle-icon"></span>
            </a>

            {{#if deprecated}}
                <div class="action-summary" style="padding-bottom: 0;">
                    <div class="alert alert-warning" role="alert" style="margin: 0;">
                        <strong>Warning</strong> Deprecated
                    </div>
                </div>
            {{/if}}

            {{#if summary}}
                <h2 class='operation-title'>{{summary}}</h2>
            {{/if}}

            {{#if description}}
                <div class="markdown action-summary">{{{description}}}</div>
            {{/if}}

            <h4>Try this endpoint</h4>

            <form accept-charset="UTF-8" class="sandbox">
                {{#if parameters}}
                    <div class="operation-params" id="parm-{{parentId}}_{{nickname}}" />
                {{/if}}

                {{#if type}}
                    <div class="response-content-type" />
                {{/if}}

                <div id="test-{{parentId}}_{{nickname}}">
                    <div class="sandbox_header">
                        {{#oauth}}
                            <div class="auth">
                                {{#each oauth}}
                                    <div id="api_information_panel" style="top: 526px; left: 776px; display: none;">
                                        {{#each this}}
                                            <div title='{{{this.description}}}'>{{this.scope}}</div>
                                        {{/each}}
                                    </div>
                                {{/each}}
                                <button type="button" class="api-ic ic-off btn btn-default pull-right">Oauth</button>
                            </div>
                        {{/oauth}}

                        <input class="submit btn btn-primary"
                               name="commit"
                               type="submit"
                               value="Submit"
                               data-target="#get_clients-modal-request">
                        <!--small class="curl-copy-message hide" style="display:none;">Copied to clipboard</small-->
                        <!--span class="response_throbber hide" style="display: none;"></span-->
                    </div>

                </div>
            </form>

            {{#if responseMessages}}
                <div style="margin:0;padding:0;display:inline"></div>
                <h4 style="padding-bottom: 0;">Response Messages</h4>

                <div>
                    <table>
                        <tbody class="operation-status" />
                    </table>
                </div>
            {{/if}}

        </div>

        <div class="samples">
                <span class="model-signature">
                </span>
        </div>

        <div class="modal" id="modal-{{parentId}}_{{nickname}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h3 class="modal-title">
                            <span class="http_method"><span class="text">{{method}}</span></span>
                            {{summary}}
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class='response'>
                            <h5>Request URL</h5>
                            <div class='block request_url'></div>
                            <div class='block request_headers'></div>

                            <h5>Response Code</h5>
                            <div class='block response_code'></div>

                            <h5>Response Headers</h5>
                            <div class='block response_headers'></div>

                            <h5>Response Body</h5>
                            <div class='block response_body'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
