<div class="form-group param-property" data-label='{{name}}'>
    <label for="{{name}}">{{name}}{{#if required}}*{{/if}}</label>
    {{#if isList}}
        <select name='{{name}}'
            class='parameter form-control'
            {{#if required}}required{{/if}}
            {{#isArray this}}multiple='multiple'{{/isArray}}>
                {{#each allowableValues.descriptiveValues}}
                    {{#if isDefault}}
                        <option selected='' value='{{value}}'>{{value}} (default)</option>
                    {{else}}
                        <option value='{{value}}'>{{value}}</option>
                    {{/if}}
                {{/each}}
        </select>
    {{else if isBody}}
        {{#if isFile}}
            <input type="file" name='{{name}}' class='form-control-file' />
        {{else}}
            <textarea name='{{name}}'
                class='body-textarea form-control {{#if required}}required{{/if}}'
                {{#if required}}required placeholder='(required)'{{/if}}
                {{#if readOnly}}readonly='readonly'{{/if}}>
                {{#if default}}{{default}}{{/if}}
            </textarea>
            <div class="parameter-content-type" />
        {{/if}}
    {{else}}
        {{#if isFile}}
            <label class="btn btn-primary" for="my-file-selector">
                <input type="file" name='{{name}}' id="my-file-selector" style="display:none;">
                Choose file
            </label>
            <div class="parameter-content-type"/>
        {{else}}
            <input type='{{inputType}}'
                name='{{name}}'
                class='parameter form-control {{#if required}}required{{/if}}'
                minLength='0'
                {{#if required}}required placeholder='(required)'{{/if}}
                {{#if readOnly}}readonly='readonly'{{/if}}
                {{#if default}}value='{{default}}'{{/if}} />
        {{/if}}
    {{/if}}
    <div class="small-description">
        {{#if type}}
            <code class="code-signature">{{type}}</code>
        {{/if}}
        <div class="markdown">{{description}}</div>
    </div>
</div>
