<a href='{{interfaceBaseUrl}}#!/{{encodedParentId}}/{{nickname}}' onclick='event.preventDefault();' title='{{nickname}}'>
  <span class='http_method ApiReference--label-{{method}}'>{{method}}</span>
  <span class="{{#if deprecated}}deprecated{{/if}}">{{path}}</span>
</a>
