<div role="tabpanel" class="guide">
    <h5>{{type}}</h5>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
            <a class="nav-link"
                href="#sample-{{id}}"
                aria-controls="home"
                role="tab"
                data-toggle="tab">
                Sample
            </a>
        </li>
        {{#if signature}}<li class="nav-item">
            <a class="nav-link"
                href="#schema-{{id}}"
                aria-controls="tab"
                role="tab"
                data-toggle="tab">
                Schema
            </a>
        </li>{{/if}}
    </ul>
    <div class="tab-content">
        <div role="tabpanel"
            class="tab-pane active"
            id="sample-{{id}}">
            <div class="snippet">
                {{#if clickToCopy}}
                    <div class="click-to-copy">
                        Click to copy to body
                        <svg class="icon icon-copy" title="Copy to Request Body"><use xlink:href="#icon-copy"></use></svg>
                    </div>
                {{/if}}
                <pre><code>{{sampleJSON}}</code></pre>
            </div>
        </div>
        {{#if signature}}
            <div role="tabpanel"
                class="tab-pane"
                id="schema-{{id}}">
                <div class="description">
                    {{{signature}}}
                </div>
            </div>
        {{/if}}
    </div>
</div>
